<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CronExpressionDescriptor" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net471" />
  <package id="NLog" version="4.5.0-rc04" targetFramework="net471" />
  <package id="NLog.Extensions.Logging" version="1.0.0-rtm-rc6" targetFramework="net471" />
  <package id="NLog.Web.AspNetCore" version="4.5.0-rc2" targetFramework="net471" />
  <package id="Quartz" version="3.0.2" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0-preview1-25914-04" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net471" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net471" />
</packages>