<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net471" />
  <package id="NLog" version="4.4.12" targetFramework="net471" />
  <package id="NLog.Web" version="4.5.1" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net471" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net471" />
</packages>